{% extends "base.html" %}

{% block head %}
{% endblock %}


{% block content %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <p> Please contact me with any questions, comments, or suggestions. </p>
        <p> I can be contacted by any of the following: </p>
        <p>
            <a class="btn btn-lg btn-primary" href='mailto:alex.n.james@gmail.com'>email:alex.n.james@gmail.com</a>
             or <a class="btn btn-lg btn-primary" href='tel:9494127220'>phone:949-412-7220</a>
        </p>
        <p> See <a href='http://www.psfc.mit.edu/~atronchi/'>my personal website</a> for more about me. </p>
    </div>

{% endblock %}


{% block scripts %}
{% endblock %}

