{% extends "base.html" %}

{% block head %}
    <!-- see: https://code.google.com/apis/console/?pli=1#project:237949820141:access -->
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { width:100%; height:100%; }
    </style>
    <script type="text/javascript"
      key='AIzaSyD7S-5RDyg0gO2c5K7qWN1MGXU2Pxukb74';
      src="https://maps.googleapis.com/maps/api/js?key={{gapi_key}}&sensor=false">
    </script>
    <script type="text/javascript">
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var mapOptions = {
              center: new google.maps.LatLng(37.3894, -122.0819), // convention is N and E
              zoom: 12,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

              jQuery.getJSON('/rb_sanjose', function(data) {
                  var t_delay = 0;
                  jQuery.each(data, function(){ 
                      var addr = this.addr;

                      // delay between each request to avoid hitting the google API rate limit of 10/s
                      // https://developers.google.com/maps/documentation/business/faq?csw=1#usage_limits
                      setTimeout(function(){
                          geocoder.geocode( {'address':addr}, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                              // map.setCenter(results[0].geometry.location); // don't need to reset the map center
                             
                              var marker = new google.maps.Marker({
                                  position: results[0].geometry.location,
                                  //position: new google.maps.LatLng(-25.363882, 131.044922),
                                  icon: { 
                                    // for more options: https://developers.google.com/maps/documentation/javascript/overlays#Symbols
                                    path: google.maps.SymbolPath.CIRCLE,
                                    scale: 10
                                  },
                                  //draggable: true,
                                  map: map
                              }); 
                              /*var marker = new google.maps.Marker({
                                  map: map,
                                  position: results[0].geometry.location
                              });*/
                              console.log('Geocode success (' + status + '): ' + addr );
                            } else {
                              console.log('Geocode failed (' + status + '): ' + addr );
                            }
                          }); // end geocoder
                      },t_delay); // end setTimeout
                      t_delay += 1000; 
                  }); // end each
              }); // end getJSON
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        // want to add markers at locations
        // https://developers.google.com/maps/documentation/javascript/overlays#Markers


    </script>

{% endblock %}


{% block content %}
    <div id="map-canvas"/>
{% endblock %}




