{% extends "base.html" %}

{% block head %}
{% endblock %}


{% block content %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <p>BeerSuggest uses machine learning and (scavenged!) data from 
           <a href='http://www.beeradvocate.com/'><img src='static/img/beeradvocate.png' style='height:12pt;' alt='BeerAdvocate'></a> and 
           <a href='http://www.ratebeer.com/'><img src='static/img/ratebeer.png' style='height:12pt;' alt='RateBeer'></a>
           to help you find new beers you will like at locations near you.
        </p>
        <p><a class="btn btn-lg btn-primary" href="maps">Try BeerSuggest &raquo;</a></p>
    </div>

{% endblock %}


{% block scripts %}
{% endblock %}

