{% extends "base.html" %}

{% block head %}
    <!-- see: https://code.google.com/apis/console/?pli=1#project:237949820141:access -->
    <link href="static/typeahead.js/typeahead.css" rel="stylesheet">

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { width:100%; height:100%; z-index:0; }
      #map-canvas img { width:auto; display:inline; max-width:none; line-height:normal; }
      #form-canvas { 
        z-index:10; 
        position:absolute; top:10px; left:30px; 
        background-color:rgba(0,0,0,0.9);
        color:#fff;
        -moz-box-shadow: 10px 10px 15px rgba(0,0,0,.7);
        -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,.7);
        box-shadow: 10px 10px 15px rgba(0,0,0,.7);
      }
      #form-canvas .closer { color:#fff; position:absolute; top:10px; right:10px; }
    </style>

    <script type="text/javascript"
      key='AIzaSyD7S-5RDyg0gO2c5K7qWN1MGXU2Pxukb74';
      src="https://maps.googleapis.com/maps/api/js?key={{gapi_key}}&sensor=false">
    </script>
    <script type="text/javascript" src="static/typeahead.js/typeahead.js"></script>
    <script type="text/javascript" src="static/beerinsight.js"></script>

{% endblock %}


{% block content %}
    <div id="map-canvas"></div>

    <div id="form-canvas" class="jumbotron" style="overflow:auto; max-height:75%;">
        <div class='closer btn'>
            <form action="javascript:loginUser();" method="post" name="login_form">
                {{form.hidden_tag()}}
                <span id="login-status" style='font-size:10pt;'></span>
                <a href='#' style='padding-left:10px;' onClick="document.getElementById('form-canvas').style.visibility='hidden';">X</a>
            </form>
        </div>
        <form action="javascript:addRating();" method="post" name="rating_form">
            <p>
                Please enter your ratings:
                <!-- <a href='#' class="btn btn-primary" onClick="runRecommender();">Recommend</a> -->
                <br>
                <input id="brewer" name="brewer" size="20" type="text" class="typeahead" value="Brewer" onblur="prefetchBeer();"> 
                <input id="beer" name="beer" size="20" type="text" class="typeahead" value="Beer"> 
                <input id="rating" name="rating" size="1" type="text" class="typeahead" value="10">
                <input class="btn btn-primary" type="submit" value="O" style='visibility:hidden;'>
                <!-- <a href='#' onClick='addRating();' class="btn btn-primary">Submit rating</a> -->
            </p>
            <div id='ratings_table'></div>
            <p>
                <a href='#' class="btn btn-primary btn-sm" onclick="runRecommender();">Recommend</a>
            </p>
        </form>
    </div>

    <div class='btn btn-primary' style='position:absolute; bottom:20px; left:20px; background:rgba(0,0,255,.9); border:0;'>
        <a href='#' style='color:#fff;decoration:none;'
          onClick="document.getElementById('form-canvas').style.visibility='visible';">
            My reviews
        </a>
    </div>
{% endblock %}




