{% extends "base.html" %}

{% block head %}
    <!-- see: https://code.google.com/apis/console/?pli=1#project:237949820141:access -->
    <link href="static/typeahead.js/typeahead.css" rel="stylesheet">

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { width:100%; height:100%; z-index:0; }
      #form-canvas { 
        z-index:10; 
        position:absolute; top:10px; left:30px; 
        background-color:rgba(0,0,0,0.9);
        color:#fff;
        -moz-box-shadow: 10px 10px 15px rgba(0,0,0,.7);
        -webkit-box-shadow: 10px 10px 15px rgba(0,0,0,.7);
        box-shadow: 10px 10px 15px rgba(0,0,0,.7);
      }
      #form-canvas .closer { color:#fff; position:absolute; top:10px; right:10px; }
    </style>
    <script type="text/javascript"
      key='AIzaSyD7S-5RDyg0gO2c5K7qWN1MGXU2Pxukb74';
      src="https://maps.googleapis.com/maps/api/js?key={{gapi_key}}&sensor=false">
    </script>
    <script type="text/javascript">
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var mapOptions = {
              center: new google.maps.LatLng(37.3894, -122.0819), // convention is N and E
              zoom: 12,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

            jQuery.getJSON('/rb_sanjose', function(data) {
              jQuery.each(data, function(){ 
                  //map.setCenter(results[0].geometry.location); // don't need to reset the map center
                  //console.log('loc: '+this.latlng[0]+','+this.latlng[1]);
                  var contentString = '<div><a href="'+this.url+'"><h1>'+this.name+'</h1></a><br>' +
                                      'address: '+this.addr+'<br>' + 
                                      'telephone: '+this.tel+'<br>' + 
                                      'hours: '+this.hours+'<br>' +
                                      'beers:<ul>';
                  jQuery.each(this.beers, function(){ contentString += 
                                      '<li><a href="'+this.item.url+'">'+this.item.brewery+', '+this.item.name+'</a><br>' +
                                      this.item.style+', RB score='+this.item.rb_score+', ' +
                                      '<i>last seen '+this.date+'</i></li>'; });
                  contentString += '</ul></div>';
                  var infowindow = new google.maps.InfoWindow({
                      content: contentString
                      });
                  var marker = new google.maps.Marker({
                      //position: this.latlng,
                      position: new google.maps.LatLng(this.latlng[0], this.latlng[1]),
                      title: this.name,
                      icon: { 
                        // for more options: https://developers.google.com/maps/documentation/javascript/overlays#Symbols
                        path:google.maps.SymbolPath.CIRCLE,
                        scale:3,fillColor:'red',fillOpacity:1,strokeColor:'black',strokeWeight:1
                      },
                      map: map
                      }); 
                  google.maps.event.addListener(marker, 'click', function() {
                      infowindow.open(map,marker);
                      });
                  }); // end each
              }); // end getJSON
                  
            prefetchBrewer()      
        } // end initialize

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <script type="text/javascript" src="static/typeahead.js/typeahead.js"></script>
    <script type="text/javascript">
      function prefetchBrewer() {
        $('#brewer').typeahead({                                
          name: 'brewer',
          prefetch:"{{url_for('brewers')}}",
          remote:"{{url_for('brewers')}}?q=%QUERY"
        });
      };
      function prefetchBeer() {
        var beer_url = "{{url_for('beers')}}?brewer=" + document.getElementById('brewer').value + '&q=%QUERY';
        console.log('fetching beers: '+beer_url);

        $('#beer').typeahead('destroy');
        $('#beer').typeahead({
          name: 'beer',
          local:[],
          remote:beer_url
        });
      };

      var myRatings = [];
      function addRating() {
        myRatings.push( [
            $('#brewer').val(),
            $('#beer').val(),
            $('#rating').val()
            ] );
        printRatings();
      };
      function delRating(i) {
        myRatings.splice(i,1);
        printRatings();
      };
      function printRatings() {
        if (myRatings.length > 0) {
            var ratings_html = "<table class='table' style='font-size:10pt;'><tr><td>Brewery</td><td>Beer name</td><td>my rating</td><td></td></tr>";
            var i = 0;
            $.each(myRatings, function(data) {
                ratings_html += '<tr> <td>'+this[0]+'</td><td>'+this[1]+'</td><td>'+this[2]+'</td>' +
                                '<td><a href="#" onclick="delRating('+i+')">X</a></td> </tr>';
                i+=1;
            });
            ratings_html += '</table>';
            $("#ratings_table").html(ratings_html);
        } else {
            $("#ratings_table").html("");
        }
      };
    </script>

{% endblock %}


{% block content %}
    <div id="map-canvas"></div>

    <div id="form-canvas" class="jumbotron" style="overflow:auto; max-height:75%;">
        <div class='closer btn'><a href='#' onClick="document.getElementById('form-canvas').style.visibility='hidden';">X</a></div>
        <form action="javascript:alert('Login not yet implemented.');" method="post" name="login_form">
            {{form.hidden_tag()}}
            <p> Please login:
                <input id="user" name="user" size="20" type="text" class='typeahead' value="username"> 
                <input class="btn btn-primary" type="submit" value="Sign In">
            </p>
        </form>
        <form action="javascript:addRating();" method="post" name="rating_form">
            <p>
                Please enter your ratings:<br>
                <input id="brewer" name="brewer" size="20" type="text" class="typeahead" value="Brewer" onblur='prefetchBeer();'> 
                <input id="beer" name="beer" size="20" type="text" class="typeahead" value="Beer"> 
                <input id="rating" name="rating" size="1" type="text" class="typeahead" value="10">
                <input class="btn btn-primary" type="submit" value="Submit rating" style='visibility:hidden;'>
                <!-- <a href='#' onclick='addRating();' class="btn btn-primary">Submit rating</a> -->
            </p>
            <div id='ratings_table'></div>
            <p><a href='#' class="btn btn-primary" onclick="alert('Recommend from form not yet implemented.');">Recommend</a></p>
        </form>
    </div>

    <div class='btn btn-primary' style='position:absolute; bottom:20px; left:20px; background:rgba(0,0,255,.9); border:0;'>
        <a href='#' style='color:#fff;decoration:none;'
          onClick="document.getElementById('form-canvas').style.visibility='visible';">
            Data entry
        </a>
    </div>
{% endblock %}




